// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

.router-link-exact-active{
    background-color : #3490dc;
    color : #ffffff !important;
    i{
        color: #ffffff !important;
    }
}

#ce-bt{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 70%;
}
